@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply transition-colors duration-200;
        background-color: white;
        color: rgb(17 24 39);
    }

    html.dark body {
        background-color: rgb(3 7 18);
        color: rgb(243 244 246);
    }

    html {
        @apply scroll-smooth;
    }
}